.lien:hover {
    background: linear-gradient(#87E990,#01D758);
    text-decoration: none;
}

.container {
    position: relative;
    margin: auto;
    width: 95%;
    display: block;
}
header,
footer {
    background-color: #87E990;
    padding: 10px;
    text-decoration: none;
}
a {
    text-decoration: none;
    color: black;
}
nav li {
    font-size: 20px;
    display: inline;
    margin-right: 10px;
    text-shadow: none;
}
p {
    font-family: 'Lora', serif;
    font-size: 20px;
    margin-bottom: 15px;
}
li {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    margin-bottom: 15px;
    text-shadow: 4px 1px 3px #CE94BC;

}
img {
    width: auto;
    height: auto;
    max-height : 600px;
    display: block;
}
